body{
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    padding-left: 20px;
}
.firstrow,.fourthrow,.sixthrow {
    display:flex;
}
.login {
    border:none;
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 200px;
    font-family: arial,Helvetica Neue,sans-serif;
}
.login:hover {
    color:orange;
}
.signup {
    width:100px;
    height: 50px;
    border:0px solid black;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 70px;
    font-family: arial,Helvetica Neue,sans-serif;
    
}
.secondrow {
    width:500px;
    height: 50px;
    border: 0px solid black;
    font-size:40px;
    font-weight: 600;
    margin-top: -400px;
}  
.thirdrow {
    width:700px;
    height: 50px;
    border: 0px solid black;
    font-size:20px;
    font-weight:100;
    margin-top: 20px;
    color:#686b78;
}
.box {
    width:500px;
    height: 50px;
    border: 1px solid #686b78;;
    align-items: center;
    margin-top: 10px;
}
.deliverylocation {
    font-size: 20px;
    color:#686b78; 
    justify-content: center;
    margin-top:-10px;
    border: 0px solid black;
    padding-left: 10px;
}
.locateme {
    width:80px;
   height: 30px;
    font-size: 20px;
    color:#686b78; 
    justify-content: center;
    margin-top:-50px;
    margin-left: 400px;
    border: 0px solid black;
    font-weight:lighter;  
    text-align: center; 
}
.locatemetext {
    margin-top: -35px;
}
.locateme:hover{
    background-color:#c8cad3;
    margin-bottom: -12px;

}
.locationsymbol {
    margin-left: 370px;
    margin-top: -50px;
    color:#686b78; 

}
.findfood {
    width:120px;
    height: 52px;
    border:none;
    background-color: #fc8019;
    color: #fff; 
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .53px;
    align-content: center;
    line-height: 60px;
    margin-top: 10px;
}
.fifthrow {
    color:#686b78; ;
    line-height: 50px;
}
.cities {
    display: flex;
    list-style-type: none;
    text-align: start;
}
.ahmedabad a {
    text-decoration: none;
    margin-left: -40px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.8;
}
.bangalore a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.5;
}
.chennai a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.8;
}
.delhi a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.5;
}
.gurgaon a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.8;
}
.hyderabad a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.5;
}
.kolkata a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.8;
}
.mumbai a { 
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.5;
}
.puneandmore{
    display: flex;
}
.pune a {
    text-decoration: none;
    margin-left: 0px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.8;
}
.andmore {
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    color:#282c3f;
    opacity: 0.5;
}
.brown {
    background-color:#2b1e16;
    border: none;
    width:1317px;
    height:400px;
    margin-top: 68px;
    display: flex;
    padding: 0 20px;
    margin-left:-50px;
}
.brownboxcontents {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width:1317px;
    height:400px;
    margin-top: -50px;
    display: flex;
    padding: 0 20px;
    margin-left:-50px;
}
.thumbsupimage {
    margin-right:0px;
    
}
.firstthumbsup {
    position: absolute;
    height: 250px;
    color: #fff;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -850px;
    
}
.nominorder {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    justify-content: center;
    color:e0cbc1 ;
}
.order {
    margin-top: 10px;
    margin-left: 30px;
    color: #e0cbc1;
}

.norestriction {
    margin-left: 30px;
   line-height: 1.3;
    color: #e0cbc1;   
}
.liveordertracking {
    margin-left: 150px;
}
.liveorderimage {
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.liveorder {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    justify-content: center;
    color:#e0cbc1 ;
}
.knowwhere {
    margin-top: 10px;
    margin-left: 30px;
    color: #e0cbc1;
    width: 400px;
    margin-right: 50px;
}
.fromthe {
    margin-left: 30px;
    line-height: 1.3;
     color: #e0cbc1; 
}
.lightningimage {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: -250px;
}
.lighningfastdelivery {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: -260px;
    justify-content: center;
    color:#e0cbc1 ;
}
.experience {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: -350px;
    color: #e0cbc1;
    margin-right: -200px;
    width: 300px;
}
.forfood {
    
    line-height: 1.3;
    color: #e0cbc1;
    margin-left: 0px;
    
}
.restaurant {
    max-width: 1200px;
    min-width: 120px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.restinyourpocket {
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;
    color: #282c3f;
    margin-left: -60px;
    margin-top: 200px;
}
.ordertext {
    font-size: 20px;
    width: 400px;
    font-weight: 30;
    padding-top: 20px;
    padding-bottom: 60px;
    color:#7e808c;
    line-height: 1.2;
}
.googleplayimage {
    margin-right: 20px;
}
.phoneimages {
    display: flex;
}
.phoneimage1 {
    margin-top: -466px;
    margin-left: 400px;
}
.phoneimage2 {
    margin-top: -350px;
    margin-left: 50px;
}